@import "tailwindcss";
@plugin "daisyui";

body{
    background-color: white;
    min-height: 100vh;
    color: black;
}


.cmnTextColor{
    color: #FF0066;
}

.cmnBtn{
    color: white;
    background-color: #FF0066;
    font-weight: 500;
    padding-top: 3px;
    padding-bottom: 3px;
    border-color: #FF0066;
    border-radius: 8px;
}